* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  width: 100%;
  background-image: url(img7/mv.jpg);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 50px;
}

.header-title {
  color: #7d7d7d;
  padding: 20px 0 0 20px;
}

main {
  height: auto;
  width: 840px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

a {
  display: inline-block;
}

.webcamp {
  padding-bottom: 30px;
}

.border1 {
  margin-bottom: 30px;
}

.border2,.border3,.border4 {
  margin: 30px 0;
}

.border1,.border2,.border3,.border4 {
  border-bottom: 1px solid #7d7d7d;
  width: 840px;
}

footer {
  height: 50px;
}